body {
    background-image: url("Train.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Kanit", sans-serif";
    font-size: larger;
    font-weight:bold;
    color:#2d6a4f;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #081c15;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background:#b7e4c7;
}

#decrement-btn{
    background-color: #95d5b2;
}

#save-btn {
    background: #74c69d;
}

div {
    background-color:#e4f0d0;
    width: 300px;
    border: 15px solid #2d6a4f;
    padding: 50px;
    /* margin: auto; */
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
